@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
body {
    background: url('../images/pixel-heart.png');
}

.jumbotron {
    text-align: center;
}

#typed {
    text-transform: capitalize;
}

.fa {
    color: #008080;
    font-size: 200px;
  }

  .flex-container {
    display: flex;
    
  }

  .stats {
      margin: 0 auto;
      text-align: center;
  }

  